//--- Scrollbar ---//
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: $bg-color;
    box-shadow: inset 0 0 5px $gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
}

body {
    background-color: #001120;
    opacity: 1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1.3px,
            transparent 1.3px),
        linear-gradient(to right, rgba(255, 255, 255, 0.1) 1.3px, #001120 1.3px);
    background-size: 20px 20px;
    max-height: none;

    padding-bottom: 1.25rem;
}

.custom-container {
    max-width: 940px;
}

.bg-dark {
    background-color: $bg-color;
}

//--- Panel (Card background) ---//
.panel {
    background-color: rgba(0, 25, 48, 0.3);
    border: solid 1px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    position: relative;

    --left: 0px;
    --top: 0px;

    &:before {
        content: '';
        background-color: $secondary;
        border-radius: 50%;
        height: 0rem;
        width: 0rem;
        transition: opacity 250ms ease-in-out;

        position: absolute;
        left: var(--left);
        top: var(--top);
        transform: translate(-50%, -50%) scale(1.5);
        z-index: -10;

        filter: blur(70px);

        opacity: 0;
    }

    &:hover {
        border-color: rgba(255, 255, 255, 0.4);
    }

    &:hover::before {
        opacity: 1;
        height: 10rem;
        width: 10rem;
    }
}

//--- Button ---//
.primary-button {
    background-color: $primary;
    color: #fff;
    box-shadow: 0px 0px 0px 1px $primary;
    transition: all 150ms ease-in-out;

    &:hover {
        background-color: #fff;
        color: $primary;
        box-shadow: 0px 0px 0px 1px $primary;
    }
}

.icon-button {
    background-color: $bg-color;
    box-shadow: 0px 0px 0px 1px $primary;
    transition: all 150ms ease-in-out;

    &:hover {
        background-color: $primary;
    }
}

//--- Icon ---//
.newtabIcon {
    path {
        fill: $gray;
        transition: all 150ms ease-in-out;
    }

    &:hover {
        path {
            fill: $primary;
        }
    }
}

//--- Social panel ---//
.panel-icon {
    path {
        fill: $white;
        transition: all 150ms ease-in-out;
    }

    &:hover {
        path {
            fill: $primary;
        }
    }
}

//--- Status pulsing ---//
.blob {
    background: $green;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    pointer-events: none;

    box-shadow: 0 0 0 0 $green;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(54, 168, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 8px rgba(54, 168, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(54, 168, 82, 0);
    }
}