// Custom css

// Logo
.az-logo {
    color: $primary;

    &:hover {
        text-decoration: underline;
    }
}

// header img
.header-img {
    img {
        @media screen and (max-width:640px) {
            height: 200px;
        }
    }
}