@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import 'Variables.scss';

body {
    font-family: $text-body;
}

.text-label {
    font-family: $text-label;
    font-size: 12px;
    margin-bottom: 5px;
    color: $gray;
}

.text-grey {
    color: $gray;
}

.text-red {
    color: $primary;
}

a.normal-link {
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

a.arrow-link {
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    text-decoration: none;

    transition: color 0.3s ease;
    position: relative;

    &::after {
        content: url('../../storage/images/longArrowActive.svg');
        position: absolute;
        opacity: 0;
        transform: translateX(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &:hover {
        color: $primary;
        text-decoration: underline;
    }

    &:hover::after {
        opacity: 1;
        transform: translateX(2px);
    }
}