// VARIABLES for Alep Portfolio //

// Colors
$primary: #FF1C29;
$secondary: #1A4771;
$bgAccent-color: #001930;
$bg-color: #001120;
$white: #F5F5F5;
$gray: #747474;

// Typography
$text-label: 'Roboto Mono', monospace;
$text-body: 'Poppins', sans-serif;